h1, h2 {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(8, 9, 10);
    color: white;
    font-family: 'Open Sans', sans-serif;
}
    
img {
    display: block;
    margin: 10px auto;
}


p {
    max-width: 800px;
    margin: 1rem auto;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

.dataframe {
    min-width: 1200px;
    font-size: 12px;
    border-collapse: collapse;
}

.dataframe th,
.dataframe td {
    padding: 4px 6px;
    border-bottom: 1px solid #555;
}

.dataframe th {
    background-color: #444;
}

a {
    color: #3e9ce6;
    font-size: 18px;
}

#main {
    color: white;
    width: 500px;
}

.A {
    background-color: rgb(41, 44, 48);
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    display: flex;              
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}


.center-list {
    display: inline-block;   
    text-align: left;        
    padding-left: 20px;  
}


.navbar {
    background-color: #2c2f36;
    padding: 15px 0;
    position: sticky;   
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 25px;
}

.navbar a {
    color: #3e9ce6;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; 
    padding: 8px 12px; 
}

.navbar a:hover {
    color: white;
}

